# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3

# Virtual Environments
venv/
env/
ENV/

# Django
*.log
media/
staticfiles/

# Environment Variables
.env

# =========================
# React / Node
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build folders
build/
dist/

# =========================
# IDEs
# =========================
.vscode/
.idea/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# ML / Data Files
# =========================
*.pkl
*.joblib

# =========================
# Testing / Coverage
# =========================
.coverage
htmlcov/
.pytest_cache/

# =========================
# Misc
# =========================
*.tmp
*.swp